<!--<div class="running-line-holder">-->
  <!--<line #line>-->
    <!--<span class="slider">{{text}}</span>-->
  <!--</line>-->
<!--</div>-->
<div class="runtext-container">
  <div class="main-runtext">
    <marquee direction="" onmouseover="this.stop();" onmouseout="this.start();">

      <div class="holder">
        <div class="text-container" *ngFor="let text of texts">&nbsp;&nbsp;<span class="stars" *ngIf="!defaultText">  <span *ngIf="texts.length > 1">***</span>  </span> {{text.name}}</div>

      </div>

    </marquee>
  </div>
</div>
