.btn-modal-opener {
	background: url(ico-settings.png);
	width: 42px;
	height: 41px;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
	vertical-align: top;}
.modal-dialog {
	width: 685px !important;
}
