.btn-modal-opener {
	background: url(ico-settings.png);
	width: 42px;
	height: 41px;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
	vertical-align: top;
}
.modal-dialog {
	width: 685px !important;
	position: fixed;
	top: 50%;
	left: 50%;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.modal-content {
	border: none;
	border-radius: 0;
	padding: 20px;
}
.modal-header {
	padding: 0;
	border: none;
	margin-bottom: 20px;
}
.modal-title {
	padding: 5px 10px;
	background: #bbb;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	letter-spacing: 0.5px;
}
.modal-body {
	padding: 0;
}


.settings-modal {
  position: absolute !important;
  .modal-dialog {
    position: absolute !important;
  }
}

