<table class="table table-hover info-table">
  <thead>
    <tr>
      <th><a  [style.color]="tableTextColor" href="#" class="active">BOL Number</a></th>
      <th><a  [style.color]="tableTextColor" href="#">Reference</a></th>
      <th><a  [style.color]="tableTextColor" href="#">Consignee</a></th>
      <th><a  [style.color]="tableTextColor" href="#">Flight</a></th>
      <th><a  [style.color]="tableTextColor" href="#" class="active up">DES</a></th>
      <th><a  [style.color]="tableTextColor" href="#">Flt ETA</a></th>
      <th><a  [style.color]="tableTextColor" href="#">Status</a></th>
    </tr>
  </thead>
  <tbody>
    <tr [style.background]="tableRowColor1">
      <td>180860258W</td>
      <td>NTL</td>
      <td>@OMAHA NE US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
    <tr [style.background]="tableRowColor2">
      <td>180860258W</td>
      <td>NTL</td>
      <td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
    <tr>
      <td>180860258W</td>
      <td>NTL</td>
      <td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
    <tr>
      <td>180860258W</td>
      <td>NTL</td>
      <td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
    <tr>
      <td>180860258W</td>
      <td>NTL</td>
      <td>C20B-AMERICAN RED CROSS-COLLECTIONS <br />BOZEMAN MT US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
  </tbody>
</table>
