<table class="table table-hover">
  <thead>
    <tr>
      <th>BOL Number</th>
      <th>Reference</th>
      <th>Consignee</th>
      <th>Flight</th>
      <th>DES</th>
      <th>Flt ETA</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody [style.color]="tableTextColor">
    <tr [style.background]="tableRowColor1">
      <td>180860258W</td>
      <td>NTL</td>
      <td>@OMAHA NE US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
    <tr [style.background]="tableRowColor2">
      <td>180860258W</td>
      <td>NTL</td>
      <td>@OMAHA NE US</td>
      <td>WN893</td>
      <td>PDX</td>
      <td>July 07, 9:19 AM</td>
      <td>
        <p>Tendered to Airline</p>
        <p>July 07, 9:16 AM ONT</p>
        <p>Expected: July 07. 11:15 AM</p>
      </td>
    </tr>
  </tbody>
</table>
