<div>
  <tabset>
    <tab heading="System">

    </tab>
    <tab heading="Alerts1">Alerts</tab>
    <tab heading="Graphics">
      <h2>Main Colors</h2>
      <div class="color-picker-holder">
        <color-picker (changed)="onColorChanged($event)" [param]="'titleBackground'" [color]="pageSettings.settings.graphics.titleBackground"></color-picker>
        <span>Title Bgnd Color</span>
      </div>

      <div class="color-picker-holder">
        <color-picker (changed)="onColorChanged($event)" [param]="'tableRowColor1'" [color]="pageSettings.settings.graphics.tableRowColor1"></color-picker>
        <span>Table row color 1</span>
      </div>

      <div class="color-picker-holder">
        <color-picker (changed)="onColorChanged($event)" [param]="'tableRowColor2'" [color]="pageSettings.settings.graphics.tableRowColor2"></color-picker>
        <span>Table row color 2</span>
      </div>

      <div class="color-picker-holder">
        <color-picker (changed)="onColorChanged($event)" [param]="'tableTextColor'" [color]="pageSettings.settings.graphics.tableTextColor"></color-picker>
        <span>Table text color</span>
      </div>


    </tab>
  </tabset>
</div>
